.divider {
    display: flex; /* use flexbox layout */
    justify-content: center; /* horizontal alignment */
    align-items: center; /* vertical alignment */
    flex-direction: column;
    margin: 0;
    padding: 20px;
}

/* text-related classes */
.gigantic-text {
    font-size: 48px;
    color: var(--discord-dark);
}
.big-text {
    font-size: 32px;
    color: var(--discord-dark);
}
.medium-text {
    font-size: 24px;
    color: var(--discord-dark);
}
.medium-text-light {
    font-size: 24px;
    font-weight: lighter;
    color: var(--discord-dark);
}
.small-text {
    font-size: 16px;
    color: var(--discord-dark);
}
.smaller-text {
    font-size: 8px;
    color: var(--discord-dark);
}

/* Top header section */
#main-header {
    text-align: center;
    font-family: "Roboto Light", sans-serif;
    padding: 10px;
    background-color: bisque;
}

/* Hobbies list section */
#hobbies-list {
    text-align: center;
    font-family: "Roboto Thin", sans-serif;
    font-weight: normal;
    background-color: #daa45d; /* change this for the love of god */
    border-top: 1px solid var(--discord-dark);
    border-bottom: 1px solid var(--discord-dark);
}
#hobbies-list ol {
    list-style-position: outside;
    padding-left: 0;
}

/* Favorite websites section */
#favorite-websites {
    text-align: center;
    font-family: "Roboto Thin", sans-serif;
    font-weight: normal;
    background-color: bisque;
}
#favorite-websites ol {
    list-style-position: outside;
    padding-left: 0;
}

/* Centered image section */
.centered-image {
    text-align: center;
    font-family: "Roboto Thin", sans-serif;
    font-weight: normal;
    background-color: bisque;
    padding: 10px;
}
#id_image {
    padding: 0;
    box-shadow: 0 0 6px 0 var(--discord-dark);
}
#id_image:hover {
    box-shadow: 0 0 9px 3px var(--discord-dark);
}

/* Buttons style */
.button {
    background-color: #daa45d;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 4px 0 var(--discord-dark);
}
.button:hover {
    background-color: #c48f4a;
}
.button-section {
    background-color: bisque;
}

/* Emoji section */
.emoji-section {
    background-color: bisque;
    padding: 10px;
}
.emoji-list {
    font-size: 64px;
    text-align: center;
    background-color: bisque;
    padding: 10px;
}

/* Form section */
.form-section {
    background-color: var(--jetbrains-dark);
    padding: 10px;
}
.input-field {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Links section */
.nav-links {
    margin: 0 auto;
    width: fit-content;
    padding-left: 20px;
}

/* Table section */
table {
    border-collapse: collapse; /* adjacent borders merge into a single one */
    background-color: bisque;
}
th {
    border: 1px solid black;
    padding: 8px;
    background-color: white;
}
td {
    border: 1px solid black;
    padding: 8px;
    background-color: #dddddd;
}