:root {
    --neutral-white: #ebebeb;
    --discord-dark: #18191d;
    --link-blue: #1246a8;
    --jetbrains-dark: #19191c;
    --jetbrains-light: #a3a3a4;
    --almost-white: #ebebeb;
    --grey-sidebar: rgba(50, 50, 50, 1);
    --grey-main: rgba(72, 72, 72, 1);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* todo: move to legacy */
.divider {
    display: flex; /* use flexbox layout */
    justify-content: center; /* horizontal alignment */
    align-items: center; /* vertical alignment */
    flex-direction: column;
    margin: 0;
    padding: 20px;
}

/* text-related classes */
.gigantic-text {
    font-size: 48px;
    color: var(--discord-dark);
}
.big-text {
    font-size: 32px;
    color: var(--discord-dark);
}
.medium-text {
    font-size: 24px;
    color: var(--discord-dark);
}
.medium-text-light {
    font-size: 24px;
    font-weight: lighter;
    color: var(--discord-dark);
}
.small-text {
    font-size: 16px;
    color: var(--discord-dark);
}
.smaller-text {
    font-size: 8px;
    color: var(--discord-dark);
}

/* Link styles */
a {
    color: var(--link-blue);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* flexbox branch */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--jetbrains-dark);
}
.navbar-branding {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
}
.navbar a {
    color: var(--almost-white);
    opacity: 0.7;
    transition: 0.2s;
}
.navbar a:hover {
    opacity: 1;
    color: white;
    text-decoration: none;
}
.navbar-branding a:hover {
    transform: scale(1.1);
    text-decoration: none; /* Do not underline link on hover */
}
.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
    list-style: none; /* remove dots from the <ul> */
}

.montserrat-navbar-links {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
}
.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
}

/* Everything related to the cards section */
.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; /* Ensure all cards have equal height */
    gap: 20px;
    padding: 30px;
    background-color: dimgrey;
}
.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
    border: 2px solid var(--discord-dark);
    background-color: var(--almost-white);
    transition: 0.2s;
    border-radius: 15px;
}
.card:hover {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px); /* Card lift effect */
}
.media {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Not sure whether this works */
    background: var(--almost-white); /* Hides ugly background bleed */
    margin: 10px; /* Margin between card border and image */
    flex: 0; /* Fixes image container taking excessive space */
}
.media img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.btn {
    margin-top: auto; /* Shift button to the bottom of the container */
}

/* Grid WIP */
.grid-wrapper {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-rows: auto 1fr auto; /* Header and footer size is determined by their content,
                                          while main part (1fr) takes all available space */
    grid-template-columns: 200px 1fr; /* First value sets the sidebar width,
                                         second sets the main width
                                         (take all remaining space) */
}
.grid-wrapper > header {
    grid-area: header; background-color: var(--jetbrains-dark);
}
.grid-wrapper > nav {
    grid-area: sidebar; background-color: var(--grey-sidebar);
}
.grid-wrapper > main {
    grid-area: main; background-color: var(--grey-main);
}
.grid-wrapper > footer {
    grid-area: footer; background-color: lightpink;
}

/* Gallery WIP */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}
/*.gallery img {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    border: 2px solid var(--jetbrains-dark);*/
/*    transition: 0.2s;*/
/*}*/
/*.gallery img:hover {*/
/*    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);*/
/*    transform: translateY(-10px);*/
/*}*/

.image-container {
    position: relative;
}
.image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid var(--jetbrains-dark);
    transition: 0.2s;
}
.image-container span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: black;
    color: white;
    opacity: 0;
    transition: 0.3s;
}
.image-container:hover span {
    opacity: 0.7;
}